%h1<
  = @user.username
  's board
#pins.transitions-enabled
  - @user.find_voted_items.each do |pin|
    .box.panel.panel-default
      = link_to (image_tag pin.image.url), pin
      .panel-body
        %h2= link_to pin.title, pin
        %p.user
        Submitted by
        = link_to pin.user.username, user_path(pin.user.username)